
  
  .body {
   
    justify-content: center;
    background: linear-gradient(#e21b46, #e21b46);
    font-family: sans-serif;
  }
  .h1 {
    color: rgb(176, 9, 226);
    font-size: 3rem;
    
  }
  
  .input3 {
      color: rgb(176, 9, 226);
      text-align: center;
  }